---
layout: default
---

<div class="phdr"><b><i class="fa fa-globe" aria-hidden="true"></i> Tin Tức</b></div>
<div class="list1">
<i class="fa fa-spinner fa-pulse fa-fw"></i> Chưa biết nên đăng gì <img src="https://moleys.github.io/assets/images/ami25.png" alt="ami25" />
</div>

<div class="phdr"><i class="fa fa-book" aria-hidden="true"></i> Bài Viết Mới</div>
{% for post in paginator.posts %}
<div class="list1">
<a  href="{{ post.url | prepend: site.baseurl }}">
<i class="fa fa-rss" aria-hidden="true"></i> {{ post.title }}</a> </div>
{% endfor %}
